*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    display :flex;
    align-items: center;
    justify-content: center;
}
.shape{
    height:200px;
    width:200px;
    border: 2px solid black;
    display :flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
    margin-bottom: 10px;
    padding:10px;
}